#[[ common config ]]
SOURCE_SHARE_DIR=./www
ALPINE_REPOSITORIES=mirrors.aliyun.com

PHP_IMAGE_BASE=registry.cn-beijing.aliyuncs.com/tinywan/dnmp
PHP_INI_FILE=./conf/php/php.ini
PHP_FPM_CONF_FILE=./conf/php/php-fpm.conf
PHP_WWW_CONF_FILE=./conf/php/php-fpm.d/www.conf
PHP_LOG_DIR=./log/php

#[[ nginx config ]]
NGINX_IMAGE_BASE=nginx
NGINX_IMAGE_TAG=1.14.2-alpine
NGINX_HTTP_PORT=80
NGINX_HTTP_PORT_72=8072 
NGINX_HTTPS_PORT=4433
NGINX_CONFD_DIR=./conf/conf.d
NGINX_CONF_FILE=./conf/nginx.conf
NGINX_LOG_DIR=./log/nginx
NGINX_SSL_DIR=./conf/letsencrypt
NGINX_CONTAINER_NAME=dnmp-nginx

#[[ openresty config ]]
OPENRESTY_IMAGE_BASE=openresty/openresty
OPENRESTY_IMAGE_TAG=bionic
OPENRESTY_HTTP_PORT=80
OPENRESTY_CONTAINER_NAME=dnmp-openresty
OPENRESTY_LUA_DIR=./conf/lua

#[[ php5.6 ]]
PHP56_VERSION=5.6.40
PHP56_IMAGE_TAG=php5.6-v2
PHP56_FPM_PORT=9006
#PHP56_EXTENSIONS=gd,bcmath,pdo,mysql,mysqli,pdo_mysql,bz2,calendar,mcrypt,opcache,redis,pcntl,sockets,xdebug
PHP56_EXTENSIONS=gd,bcmath,pdo,mysql,mysqli,pdo_mysql,bz2,calendar,mcrypt,opcache,redis,pcntl,sockets,xdebug
PHP56_CONTAINER_NAME=dnmp-php56

#[[ php7.2 ]]
PHP72_VERSION=7.2.19
PHP72_IMAGE_TAG=php7.2-v5
PHP72_FPM_PORT=9007
PHP72_WORKERMAN_PORT=9502
PHP72_EXTENSIONS=pdo,mysqli,pdo_mysql,redis,sockets,xdebug,swoole
PHP72_CONTAINER_NAME=dnmp-php72

#[[ mysql ]]
MYSQL_IMAGE_TAG=5.7
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATA_DIR=./data/mysql
MYSQL_CONF_FILE=./conf/mysql/my.cnf
MYSQL_CONTAINER_NAME=dnmp-mysql

#[[ redis config ]]
REDIS_VERSION=5.0.3-alpine
REDIS_IMAGE_TAG=5.0.3-alpine
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./conf/redis/redis.conf
REDIS_DATA_DIR=./data/redis
REDIS_CONTAINER_NAME=dnmp-redis

#[[ phpmyadmin config ]]
PHPMYADMIN_TAG=latest
PHPMYADMIN_HOST_PORT=8082