#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#       environment config file            
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
SOURCE_DIR=./www

#~~~~~~~~~~~~~~~ source.list ~~~~~~~~~
REPLACE_SOURCE_LIST=true


#~~~~~~~~~~~~~~~~ Nginx ~~~~~~~~~~~~~~
NGINX_VERSION=1.14.2-alpine
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
NGINX_CONFD_DIR=./conf/conf.d
NGINX_CONF_FILE=./conf/nginx.conf
NGINX_LOG_DIR=./log

#~~~~~~~~~~~~~ PHP7.2 ~~~~~~~~~~~~~~~
PHP72_VERSION=7.2.13
PHP72_XDEBUG=2.6.1
PHP72_SWOOLE=4.2.1
PHP72_REDIS=4.1.1
PHP72_PHP_CONF_FILE=./conf/php.ini
PHP72_FPM_CONF_FILE=./conf/php-fpm.conf

#~~~~~~~~~~~~~~~~ MySQL ~~~~~~~~~~~~~
MYSQL_VERSION=5.7
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATA_DIR=./mysql
MYSQL_CONF_FILE=./conf/mysql.cnf

#~~~~~~~~~~~~~~~~ Redis ~~~~~~~~~~~~~
REDIS_VERSION=5.0.3-alpine
REDIS_HOST_PORT=63789
REDIS_CONF_FILE=./etc/redis/redis.conf
REDIS_LOG_FILE=./log/redis.log