/dev/nginx/v2/www/tp5.1
/dev/nginx/v2/www/tp5.2
data
/dev/openresty/v1/www/tp5.1
/dev/nginx/v4/etc/letsencrypt/fullchain.cer
/dev/nginx/v4/etc/letsencrypt/openssl.crt
/dev/nginx/v4/etc/letsencrypt/openssl.key
/dev/nginx/v4/etc/letsencrypt/tinywan.top.key
/dev/nginx/v5/www/tp5.1
/dev/nginx/v4/www/tp5.1
/product/etc/letsencrypt/account.conf
/product/etc/letsencrypt/ca
/product/etc/letsencrypt/tinywan.top
/production/etc/letsencrypt/account.conf
/production/etc/letsencrypt/ca
/production/etc/letsencrypt/tinywan.top
/development/nginx/v5/etc/letsencrypt/account.conf
/development/nginx/v5/etc/letsencrypt/ca
/development/nginx/v5/etc/letsencrypt/tinywan.top
runtime
thinkphp
vendor
/development/nginx/v6/log
