/dev/nginx/v2/www/tp5.1
/dev/nginx/v2/www/tp5.2
data
/dev/openresty/v1/www/tp5.1
/dev/nginx/v5/etc/letsencrypt
/dev/nginx/v4/etc/letsencrypt/fullchain.cer
/dev/nginx/v4/etc/letsencrypt/openssl.crt
/dev/nginx/v4/etc/letsencrypt/openssl.key
/dev/nginx/v4/etc/letsencrypt/tinywan.top.key
/dev/nginx/v5/www/tp5.1
/dev/nginx/v4/www/tp5.1
