#+--------------+
# Base
#+--------------+
SOURCE_SHARE_DIR=./www
DATA_DIR=./data

#+--------------+
#+ Container package  : mirrors.163.com、mirrors.aliyun.com、mirrors.ustc.edu.cn
#+--------------+
CONTAINER_PACKAGE_URL=mirrors.ustc.edu.cn

# 个人仓库，防止拉取官方镜像，被墙问题
PHP_IMAGE_BASE=registry.cn-beijing.aliyuncs.com/tinywan/dnmp

PHP_INI_FILE=./conf/php/php.ini
PHP_FPM_CONF_FILE=./conf/php/php-fpm.conf
PHP_WWW_CONF_FILE=./conf/php/php-fpm.d/www.conf
PHP_LOG_DIR=./log/php

#+--------------+
# Timezone
#+--------------+
TZ=Asia/Shanghai

#+--------------+
# Nginx
#+--------------+
NGINX_IMAGE_BASE=nginx
NGINX_IMAGE_TAG=1.22.1-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./conf/conf.d
NGINX_CONF_FILE=./conf/nginx.conf
NGINX_LOG_DIR=./log/nginx
NGINX_SSL_DIR=./conf/letsencrypt
NGINX_CONTAINER_NAME=dnmp-nginx

#+--------------+
# Openresty
#+--------------+
# Docker Tinywan Images
OPENRESTY_CHINA_IMAGE_BASE=registry.cn-beijing.aliyuncs.com/tinywan/openresty

# Docker Official Images
OPENRESTY_IMAGE_BASE=openresty/openresty
OPENRESTY_IMAGE_TAG=1.21.4.1-3-bionic
OPENRESTY_HTTP_PORT=80
OPENRESTY_CONTAINER_NAME=dnmp-openresty
OPENRESTY_LUA_DIR=./conf/lua

#+--------------+
# PHP5.6
#+--------------+
# Available EXTENSIONS
#+-------------------------------------------------------------+
# pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,
# sockets,gettext,shmop,sysvmsg,sysvsem,sysvshm,pdo_rebird,
# pdo_dblib,pdo_oci,pdo_odbc,pdo_pgsql,pgsql,oci8,odbc,dba,
# gd,intl,bz2,soap,xsl,xmlrpc,wddx,curl,readline,snmp,pspell,
# recode,tidy,gmp,imap,ldap,imagick,sqlsrv,mcrypt,opcache,
# redis,memcached,xdebug,swoole,pdo_sqlsrv,sodium,yaf,mysql,
# amqp,mongodb,event,rar,ast,yac,yar,yaconf,msgpack,igbinary,
# seaslog,varnish,xhprof,xlswriter,memcache,rdkafka,zookeeper,
# psr,phalcon,sdebug,ssh2,yaml,protobuf,hprose
#+-------------------------------------------------------------+
PHP56_VERSION=5.6.40
PHP56_IMAGE_TAG=php5.6-v2
PHP56_FPM_PORT=9006
PHP56_EXTENSIONS=gd,bcmath,pdo,mysql,mysqli,pdo_mysql,bz2,calendar,mcrypt,opcache,redis,pcntl,sockets,xdebug
PHP56_CONTAINER_NAME=dnmp-php56

#+--------------+
# PHP7.2
#+--------------+
PHP72_VERSION=7.2.19
PHP72_IMAGE_TAG=php7.2-v5
PHP72_FPM_PORT=9072
PHP72_WORKERMAN_PORT=9502
PHP72_EXTENSIONS=bcmath,pdo,mysqli,pdo_mysql,redis,bz2,calendar,opcache,pcntl,sockets,xdebug,gd,yaconf
PHP72_CONTAINER_NAME=dnmp-php72

#+--------------+
# PHP7.4
#+--------------+
PHP74_VERSION=7.4.16
PHP74_IMAGE_TAG=php7.4-v1
PHP74_FPM_PORT=9074
PHP74_EXTENSIONS=gd,bcmath,pdo,mysqli,pdo_mysql,redis,bz2,calendar,opcache,pcntl,sockets,xdebug,amqp,zip
PHP74_CONTAINER_NAME=dnmp-php74

#+--------------+
# PHP8.2
#+--------------+
PHP82_VERSION=8.2.10
PHP82_IMAGE_TAG=php8.2-v1
PHP82_FPM_PORT=9082
PHP82_EXTENSIONS=gd,bcmath,pdo,mysqli,pdo_mysql,redis,bz2,calendar,opcache,pcntl,sockets,amqp,zip,event
PHP82_CONTAINER_NAME=dnmp-php82

#+--------------+
# MySQL
#+--------------+
# Docker Tinywan Images
MYSQL_CHINA_IMAGE_BASE=registry.cn-beijing.aliyuncs.com/tinywan/mysql
# Docker Official Images
MYSQL_IMAGE_BASE=mysql
MYSQL_IMAGE_TAG=5.7
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_DATA_DIR=./data/mysql
MYSQL_CONF_FILE=./conf/mysql/my.cnf
MYSQL_CONTAINER_NAME=dnmp-mysql

#+--------------+
# MariaDB
#+--------------+
# Docker Tinywan Images
MariaDB_CHINA_IMAGE_BASE=registry.cn-beijing.aliyuncs.com/tinywan/mysql
# Docker Official Images
MariaDB_IMAGE_BASE=mariadb
MariaDB_IMAGE_TAG=10.5.10
MariaDB_HOST_PORT=3306
MariaDB_ROOT_PASSWORD=123456
MariaDB_DATA_DIR=./data/mariadb
MariaDB_CONF_FILE=./conf/mariadb/my.cnf
MariaDB_CONTAINER_NAME=dnmp-mariadb

#+--------------+
# Redis
#+--------------+
REDIS_VERSION=5.0.5-alpine
REDIS_IMAGE_TAG=5.0.5-alpine
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./conf/redis/redis.conf
REDIS_DATA_DIR=./data/redis
REDIS_CONTAINER_NAME=dnmp-redis

#+--------------+
# PHPMyAdmin
#+--------------+
PHPMYADMIN_TAG=latest
PHPMYADMIN_HOST_PORT=8082

#+--------------+
# RabbitMQ
#+--------------+
RABBITMQ_VERSION=management
# 客户端接口
RABBITMQ_HOST_PORT_CLIENT=5672
# Web 管理界面 http://127.0.0.1:15672/
RABBITMQ_HOST_PORT_MANAGEMENT=15672
# 默认账号和密码
RABBITMQ_DEFAULT_USER=resty
RABBITMQ_DEFAULT_PASS=resty
RABBITMQ_CONTAINER_NAME=dnmp-rabbitmq

#+--------------+
# etcd
#+--------------+
ETCD_VERSION=3.3.13-r80
ETCD_IMAGE_TAG=bitnami/etcd
ETCD_HTTP_PORT=2379
ETCD_PEER_PORT=2380
ETCD_CONF_FILE=./conf/etcd/etcd.conf.yml
ETCD_DATA_DIR=./data/etcd
ETCD_CONTAINER_NAME=dnmp-etcd