[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysql]
prompt = [\\u@\\d]-[\\r:\\m:\\s]>\\_
#no-auto-rehash
auto-rehash
default-character-set = utf8mb4

[mysqld_safe]
malloc-lib=tcmalloc

[mysqldump]
single-transaction
quick
max_allowed_packet=1G

[mysqld]
user = mysql
port = 3306
datadir = /var/lib/mysql
socket = /var/run/mysqld/mysqld.sock
skip-name-resolve
symbolic-links=0


#timeout
interactive_timeout = 28800
wait_timeout = 28800

# character set
character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
init_connect            = 'SET NAMES utf8mb4'

#innodb
default_storage_engine = InnoDB
innodb_file_per_table = on
innodb_open_files = 500
innodb_buffer_pool_size = 1024M
innodb_buffer_pool_instances = 1
innodb_write_io_threads = 4
innodb_read_io_threads = 4
innodb_thread_concurrency = 0
innodb_purge_threads = 1
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 16M
innodb_log_file_size = 64M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120

#logs
log-output          =file
log-error           = /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/slow.log
slow_query_log      = 1
log_error_verbosity        = 2
long_query_time     = 1
log-slow-slave-statements = 1
performance_schema = 0
explicit_defaults_for_timestamp
# 打开二进制日志功能
binlog_format = mixed
expire_logs_days = 7

# 兼容5.6查询模式
sql_mode ='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'

