server {
    listen 802;
    server_name 127.0.0.1;

    # 访问地址：http://127.0.0.1/lua
    location /lua {
        default_type text/html;
        lua_code_cache off; # 关闭缓存
        content_by_lua_file conf/lua/test/test.lua;
    }
}
