web:
  image: nginx:alpine
  ports:
    - "8080:80"
  volumes:
    - ./code:/code
    - ./config/nginx.conf:/etc/nginx/conf.d/site.conf
  links:
    - php
php:
  image: php:7-fpm
  volumes:
    - ./code:/code